<% if policy(Like.new).create? %>
  <div>
     <% if like = current_user.liked(bookmark) %>
      <%= link_to [bookmark, like], class: 'btn btn-danger', method: :delete do %>
        <i class="glyphicon glyphicon-star-empty"> </i>&nbsp; Unlike
      <% end %>
     <% else %>
      <%= link_to [bookmark, Like.new], class: 'btn btn-primary', method: :bookmark do %>
        <i class="glyphicon glyphicon-star"> </i>&nbsp; Like
      <% end %>
     <% end %>
   </div>
<% end %> 

